.app {
  font-family: sans-serif;
  margin: 30px;
}

.input-search {
  width: 265px;
}

.btn-search {
  margin-left: 10px;
  width: 120px;
}

.panel-search {
  margin-left: 10px;
}

.city-map {
  height: 250px;
}

.weather-info {
  vertical-align: top;
  height: 225px;
  width: 115px;
  margin-top: 10px;
}

.history-label {
  margin-left: 30px;
  border-bottom-style: solid;
}
